.dropdown-menu {
    width: auto;
    height: fit-content;
    max-height: 40vh;
    overflow: auto;
}

.card-img-top {
    height: 200px;
}
.card-body {
    height: 300px;
    overflow: hidden;
}

.card-text {
    font-size: 0.8em;
    height: 100%;
}

.recipeDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 11;
    overflow: hidden;
}

.dropdown-item {
    text-transform: lowercase;
}

.tags button {
    margin-right: 10px;
    margin-bottom: 10px;
}
